[submodule "wolfpack"]
	path = wolfpack
	url = https://github.com/Framebuffers/wolfpack.git
[submodule "hunter"]
	path = hunter
	url = https://github.com/Framebuffers/hunter.git
[submodule "wolfden"]
	path = wolfden
	url = https://github.com/Framebuffers/wolfden.git
[submodule "direwolf-revit"]
	path = direwolf-revit
	url = https://github.com/Framebuffers/direwolf-revit.git
