[submodule "wolfpack"]
	path = wolfpack
	url = https://github.com/Framebuffers/wolfpack.git
[submodule "hunter"]
	path = hunter
	url = https://github.com/Framebuffers/hunter.git
[submodule "wolfden"]
	path = wolfden
	url = https://github.com/Framebuffers/wolfden.git
[submodule "src/Direwolf.Revit"]
	path = src/Direwolf.Revit
	url = https://github.com/Framebuffers/Direwolf.Revit.git
